<div class="body">
    <h1>Lab Patient Test List</h1>
    <mat-table class="lab-table mat-elevation-z8" [dataSource]="dataSource">
        
        <ng-container matColumnDef="patientId">
            <mat-header-cell *matHeaderCellDef>Patient ID</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.patientId }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="testName">
            <mat-header-cell *matHeaderCellDef>Test Name</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.testName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.price | currency }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="suggestedDr">
            <mat-header-cell *matHeaderCellDef>Suggested Dr</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.suggestedDr }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateTime">
            <mat-header-cell *matHeaderCellDef>Appointment Date</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.dateTime | date: 'short' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let lab">
                <button mat-button class="mat-raised-button mat-warn table-btn" (click)="editLabPatient(lab.patientId)">Edit</button>
                <button mat-button class="mat-raised-button mat-warn table-btn">Delete</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>

<mat-paginator class="page"
               [length]="total"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 15, 20]">
</mat-paginator>
