<div class="body">
    <h1>Lab Patient Test List</h1>
    <mat-table class="lab-table mat-elevation-z8" [dataSource]="dataSource">
        
        <ng-container matColumnDef="patientId">
            <mat-header-cell *matHeaderCellDef>Patient ID</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.patientId }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="testName">
            <mat-header-cell *matHeaderCellDef>Test Name</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.testName }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.price | currency:'PKR':'symbol':'1.0-0' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="suggestedDr">
            <mat-header-cell *matHeaderCellDef>Suggested Dr</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.suggestedDr }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateTime">
            <mat-header-cell *matHeaderCellDef>Appointment Date</mat-header-cell>
            <mat-cell *matCellDef="let lab">{{ lab.dateTime | date: 'short' }}</mat-cell>
        </ng-container>

   <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell *matCellDef="let lab">
        <div class="action-buttons">
            <button mat-button class="mat-raised-button mat-primary table-btn" (click)="editLabPatient(lab.patientId)">
                <mat-icon>edit</mat-icon> 
            </button>
            <button mat-button class="mat-raised-button mat-warn table-btn" (click)="deleteLabPatient(lab.patientId)">
                <mat-icon>delete</mat-icon> 
            </button>
        </div>
    </mat-cell>
</ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" class="table-row"></mat-row>
    </mat-table>
</div>

<mat-paginator class="page"
               [length]="total"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 15, 20]">
</mat-paginator>
